.about {
  margin: 0 auto;
  max-width: 1440px;
  max-height: 341.75px; }
  .about__story {
    margin: 59px auto 119px; }
  .about__headline {
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2.306px;
    text-transform: uppercase;
    font-weight: bold;
    color: #48555B; }
  .about__line {
    margin: 12px auto 55px; }
  .about__flex {
    display: flex;
    justify-content: space-between; }
  .about__left {
    max-width: 405.08px; }
  .about__right {
    display: grid;
    grid-template-columns: repeat(3, 140px);
    gap: 20px;
    padding-top: 29px; }
  .about__h3-text {
    padding-bottom: 31px;
    font-size: 20px;
    line-height: 26.44px;
    letter-spacing: 0.187px;
    color: #48555B; }
  .about__h3-color {
    color: #16ACE8; }
  .about__h4-1 {
    background-image: url(../img/h4-1.jpg);
    background-repeat: no-repeat; }
  .about__h4-2 {
    background-image: url(../img/h4-2.jpg);
    background-repeat: no-repeat; }
  .about__h4-3 {
    background-image: url(../img/h4-3.jpg);
    background-repeat: no-repeat; }
  .about__p-text {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875PX;
    color: #48555B; }

.line {
  width: 50px;
  height: 2px;
  background-color: #00A4E5; }

.h4 {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1875px;
  text-transform: uppercase;
  font-weight: 800;
  padding: 15px 0 0 15px; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif, sans-serif;
  font-weight: 400; }

.container {
  max-width: 940px;
  margin: 0 auto; }

.header {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1440px;
  height: 768px;
  margin: 0 auto;
  padding-bottom: 71px;
  padding-top: 41px; }
  .header__logo {
    display: block;
    width: 101.618px;
    height: 23px;
    margin: 0 auto;
    margin-bottom: 308px; }
  .header__h1 {
    color: #FFFFFF;
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 5.70937px;
    text-transform: uppercase;
    margin: 0 173px 0 185px; }
  .header__p--bold {
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    margin: 0 auto 223px; }
  .header__link {
    text-decoration: none;
    text-transform: uppercase; }
  .header__link-text {
    color: #FFFFFF;
    text-align: center;
    font-size: 11px;
    line-height: 13px;
    padding-bottom: 72px; }

.navbar {
  max-width: 1440px;
  margin: 0 auto;
  padding: 23px 0 20px 0;
  border: 1px solid #D8D8D8; }
  .navbar__flex {
    display: flex;
    justify-content: space-between; }
  .navbar__menu {
    display: flex;
    flex-wrap: wrap;
    padding: 21px 0; }
  .navbar__menu-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    width: 409px; }
  .navbar__menu-item {
    color: #48555B;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.091px;
    cursor: pointer; }
    .navbar__menu-item:hover {
      color: #00A4E5; }

.services {
  margin: 0 auto;
  max-width: 1440px; }
  .services__flex-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 76px; }
  .services__headline {
    margin-right: 122px; }
  .services__text {
    max-width: 405.4px;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #48555B; }
  .services__h2-text {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2.30625px;
    text-transform: uppercase;
    font-weight: bold;
    color: #48555B; }
  .services__button {
    width: 150px;
    height: 40px;
    background-color: #00A4E5;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 15PX;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    border: none; }
  .services__grid-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    padding-bottom: 115px; }
  .services__items {
    border: 1px solid #E6E6E6;
    padding: 37px 21px 0 22px; }
  .services__icon {
    margin-bottom: 20px; }
  .services__items_headline {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4266px;
    text-transform: uppercase;
    color: #48555B; }
  .services__p-text {
    margin: 14px 0 37px;
    padding: 0;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B; }
