.about {
  margin: 0 auto;
  max-width: 1440px; }
  .about__story {
    margin: 59px auto 119px; }
  .about__headline {
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2.306px;
    text-transform: uppercase;
    font-weight: bold;
    color: #48555B;
    margin-bottom: 10px; }
  .about__line {
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    margin: 0 auto 55px; }
  .about__flex {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 940px) {
      .about__flex {
        flex-direction: column;
        margin: 0 auto 30px;
        align-items: center; } }
  .about__left {
    max-width: 398px; }
  .about__right {
    display: grid;
    grid-template-columns: repeat(3, 140px);
    gap: 20px;
    padding-top: 29px; }
    @media only screen and (max-width: 940px) {
      .about__right {
        gap: 15px; } }
  .about__h3-text {
    padding-bottom: 31px;
    font-size: 20px;
    line-height: 26.44px;
    letter-spacing: 0.187px;
    color: #48555B; }
    @media only screen and (max-width: 940px) {
      .about__h3-text {
        text-align: center;
        padding-bottom: 20px; } }
  .about__h3-color {
    color: #16ACE8; }
  .about__h4-1 {
    background-image: url(../img/h4-1.jpg);
    background-repeat: no-repeat; }
  .about__h4-2 {
    background-image: url(../img/h4-2.jpg);
    background-repeat: no-repeat; }
  .about__h4-3 {
    background-image: url(../img/h4-3.jpg);
    background-repeat: no-repeat; }
  .about__p-text {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875PX;
    color: #48555B; }
    @media only screen and (max-width: 940px) {
      .about__p-text {
        text-align: center;
        padding-bottom: 20px; } }

.line {
  width: 50px;
  height: 2px;
  background-color: #00A4E5; }

.h4 {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1875px;
  text-transform: uppercase;
  font-weight: 800;
  padding: 15px 0 0 15px; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif, sans-serif;
  font-weight: 400; }

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 250px; }
  @media only screen and (max-width: 1440px) {
    .container {
      padding: 0 50px; } }

.button {
  width: 150px;
  height: 40px;
  background-color: #00A4E5;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  border: none;
  text-transform: uppercase;
  padding-top: 4px;
  cursor: pointer; }

.h5 {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.85px;
  color: #FFFFFF;
  text-transform: uppercase; }

.footer {
  background-color: #141A20;
  margin: 0 auto;
  max-width: 1440px;
  color: #FFFFFF; }
  .footer__flex {
    display: flex;
    padding: 42px 0 50px; }
    @media screen and (max-width: 940px) {
      .footer__flex {
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        text-align: center; } }
  .footer__company {
    max-width: 250px; }
    @media screen and (max-width: 940px) {
      .footer__company {
        margin: 0 30px 30px 30px; } }
  .footer__links {
    max-width: 262px;
    margin-right: 58px; }
    @media screen and (max-width: 940px) {
      .footer__links {
        margin: 0 30px 30px 30px; } }
  .footer__h5 {
    margin-bottom: 19px; }
  .footer__company-logo {
    margin-bottom: 15px; }
  .footer__company-text {
    font-size: 13px;
    line-height: 23px;
    align-items: center;
    letter-spacing: 0.188px; }
  .footer__links-flex-box {
    display: flex; }
  .footer__links-box-1 {
    min-width: 76px;
    margin-right: 34px;
    padding-top: 11px; }
  .footer__links-box-2 {
    min-width: 76px;
    padding-top: 11px; }
  .footer__links-box-3 {
    min-width: 62px;
    padding-top: 11px; }
  .footer ul {
    list-style: none; }
  .footer__link {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 0.846px; }
  .footer__contact {
    max-width: 131px;
    margin-right: 55px; }
  .footer__address {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.846154px;
    padding-top: 16px;
    text-decoration: none; }
  .footer__phone {
    display: block;
    padding-top: 16px;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.846154px;
    text-decoration: none; }
  .footer__mail {
    display: block;
    padding-top: 16px;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.846154px;
    text-decoration: none; }
  .footer__socials {
    max-width: 102px; }
    @media screen and (max-width: 940px) {
      .footer__socials {
        margin-right: 40px; } }
  .footer a {
    text-decoration: none; }
  .footer__socials-icon {
    padding: 29px 0; }
  .footer .facebook-icon {
    margin: 0 21px 0 13px;
    text-decoration: none; }
  .footer .twitter-icon {
    margin-right: 19px;
    text-decoration: none; }
  .footer__copyright {
    background-color: #171819; }
  .footer__copyright-text {
    text-align: center;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    padding: 22px 0 24px;
    margin-left: 10px; }

.header {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1440px;
  height: 768px;
  margin: 0 auto;
  padding-bottom: 71px;
  padding-top: 41px; }
  .header__logo {
    display: block;
    width: 101.618px;
    height: 23px;
    margin: 0 auto;
    margin-bottom: 308px; }
  .header__h1 {
    color: #FFFFFF;
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 5.70937px;
    text-transform: uppercase;
    margin: 0 173px 0 185px; }
  .header__p--bold {
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    margin: 0 auto 223px; }
  .header__link {
    text-decoration: none;
    text-transform: uppercase; }
  .header__link-text {
    color: #FFFFFF;
    text-align: center;
    font-size: 11px;
    line-height: 13px;
    padding-bottom: 72px; }

.navbar {
  max-width: 1440px;
  margin: 0 auto;
  padding: 23px 0 20px 0;
  border: 1px solid #D8D8D8; }
  .navbar__flex {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 940px) {
      .navbar__flex {
        justify-content: space-around; } }
  .navbar__menu {
    display: flex;
    flex-wrap: wrap;
    padding: 21px 0; }
  .navbar__menu-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    width: 409px; }
  .navbar__menu-item {
    color: #48555B;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.091px;
    cursor: pointer; }
    .navbar__menu-item:hover {
      color: #00A4E5; }

.newsletter {
  background-color: #171819; }
  .newsletter__flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 30px 0;
    max-width: 690px;
    max-height: 40.5px; }
  .newsletter__headline-box {
    padding-top: 6px;
    padding-left: 2px; }
  .newsletter__headline {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.846px;
    color: #FFFFFF;
    padding-right: 70px;
    text-align: center; }
  .newsletter__input-area {
    width: 249px;
    height: 40px;
    border: none;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.07px;
    color: #48555B;
    padding: 0 0 0 17px; }
  .newsletter__button {
    padding-left: 5px;
    margin-left: -4px;
    padding-top: 1px; }

.request {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  min-height: 498px;
  max-width: 1440px;
  margin: 0 auto; }
  .request__box {
    max-width: 350px;
    margin: 0 auto 231px;
    padding-top: 120px; }
  .request__headline {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15px;
    color: #48555B;
    padding-bottom: 35px; }
  .request__button {
    margin: 0 auto;
    display: block; }

.services {
  margin: 0 auto;
  max-width: 1440px; }
  .services__flex-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 76px; }
    @media only screen and (max-width: 940px) {
      .services__flex-box {
        flex-direction: column;
        align-items: center; } }
  @media only screen and (max-width: 940px) {
    .services__headline {
      text-align: center; } }
  @media only screen and (max-width: 940px) {
    .services__line {
      margin: 0 auto;
      margin-bottom: 20px; } }
  .services__text {
    max-width: 405.4px;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #48555B; }
    @media only screen and (max-width: 940px) {
      .services__text {
        text-align: center;
        margin-bottom: 20px; } }
  .services__h2-text {
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2.30625px;
    text-transform: uppercase;
    font-weight: bold;
    color: #48555B;
    margin-bottom: 10px; }
  .services__grid-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    padding-bottom: 115px; }
    @media only screen and (max-width: 940px) {
      .services__grid-box {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px; } }
  .services__items {
    border: 1px solid #E6E6E6;
    padding: 37px 21px 0 22px; }
    @media only screen and (max-width: 940px) {
      .services__items {
        padding: 15px 22px 15px 23px;
        text-align: center; } }
  .services__icon {
    margin-bottom: 20px; }
  .services__items_headline {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4266px;
    text-transform: uppercase;
    color: #48555B; }
  .services__p-text {
    margin: 14px 0 37px;
    padding: 0;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B; }
