*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif, sans-serif;
  font-weight: 400; }

.header {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1440px;
  height: 768px;
  margin: 0 auto; }
  .header__logo {
    display: block;
    width: 101.618px;
    height: 23px;
    margin: 0 auto;
    margin-bottom: 308px; }
  .header__h1 {
    color: #FFFFFF;
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 5.70937px;
    text-transform: uppercase;
    margin: 0 173px 0 185px; }

.container {
  max-width: 940px;
  max-height: 768px;
  margin: 0 auto; }
