*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif, sans-serif;
  font-weight: 400; }

.header {
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1440px;
  height: 768px;
  margin: 0 auto;
  padding-bottom: 71px;
  padding-top: 41px; }
  .header__logo {
    display: block;
    width: 101.618px;
    height: 23px;
    margin: 0 auto;
    margin-bottom: 308px; }
  .header__h1 {
    color: #FFFFFF;
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 5.70937px;
    text-transform: uppercase;
    margin: 0 173px 0 185px; }
  .header__p--bold {
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    margin: 0 auto 223px; }
  .header__link {
    text-decoration: none;
    text-transform: uppercase; }
  .header__link-text {
    color: #FFFFFF;
    text-align: center;
    font-size: 11px;
    line-height: 13px;
    padding-bottom: 72px; }

.container {
  width: 940px;
  height: 658px;
  margin: 0 auto; }
