.about {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    

    &__story {
        margin: 59px auto 119px;
    }

    &__headline {
        text-align: center;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 2.306px;
        text-transform: uppercase;
        font-weight: bold;
        color: #48555B;
        margin-bottom: 10px;
    }

    &__line {
        width: 50px;
        height: 2px;
        background-color: #00A4E5;
        margin: 0 auto 55px;
    }

    &__flex {
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 940px) {
            flex-direction: column;
            margin: 0 auto 30px;
            align-items: center;
        }
    }

    &__left {
        max-width: 398px;
    }

    &__right {
        display: grid;
        grid-template-columns: repeat(3, 140px);
        gap: 20px;
        padding-top: 29px;

        @media only screen and (max-width: 940px) {
            grid-template-columns: repeat(1, 140px);
            gap: 15px;
        }
    }

    &__h3-text {
        padding-bottom: 31px;
        font-size: 20px;
        line-height: 26.44px;
        letter-spacing: 0.187px;
        color: #48555B;

        @media only screen and (max-width: 940px) {
            text-align: center;
            padding-bottom: 20px;
        }
    }

    &__h3-color {
        color: #16ACE8;
    }

    &__h4-1 {
        background-image: url(../img/h4-1.jpg);
        background-repeat: no-repeat;
    }

    &__h4-2 {
        background-image: url(../img/h4-2.jpg);
        background-repeat: no-repeat;
    }

    &__h4-3 {
        background-image: url(../img/h4-3.jpg);
        background-repeat: no-repeat;
    }

    &__p-text {
        font-size: 13px;
        line-height: 23px;
        letter-spacing: 0.1875PX;
        color: #48555B;

        @media only screen and (max-width: 940px) {
            text-align: center;
            padding-bottom: 20px;
        }
    }
}

.line {
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
}

.h4 {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1875px;
    text-transform: uppercase;
    font-weight: 800;
    padding: 15px 0 0 15px;
}