.header {
    background-image: url(../img/header-bg.jpg);
    max-width: 1440px;
    max-height: 768px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    max-width: 940px;
    margin: 0 auto;

    &__logo {
        display: flex;
        padding: 40px 0 309px;
    }
    &__h1 {
        color: $color-primary;
        font-weight: 400px;
        font-size: 60px;
        font-family: "BebasNeue Bold";
        text-align: center;
        text-transform: uppercase;
    }
}
